html,
body {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
}
.wrapper {
  max-width: 400px;
  height: 350px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* soft shadow */

  background-color: white;
}
h2,
p {
  text-transform: capitalize;
  text-align: center;
}
.inputs-div {
  justify-content: center;
  display: flex;
  margin-bottom: 12px;
}
.inputs-div input {
  width: 300px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.inputs-div input::placeholder {
  text-transform: capitalize;
}
.label2 {
  position: relative;
}
.eye-icon {
  width: 20px;
  position: absolute;
  right: 8px;
  top: 50%;
  cursor: pointer;
  opacity: 0.6;
  transform: translateY(-50%);
}
.label2 .eye-icon:hover {
  opacity: 1;
}
.rem {
  display: flex;
  justify-content: center;
}
.remember-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  margin-top: 6px;
}
label {
  text-transform: capitalize;
}
.forgot {
  text-decoration: none;
  color: #6266f1;
}
.forgot:hover {
  color: purple;
}
.btn {
  border: none;
  outline: none;
  width: 326px;
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  height: 40px;
  padding: 4px;
  background-color: #6266f1;
  text-transform: capitalize;
}
